
$data6 = users::all();                            

@foreach($data6 as $user)
<div style="width:calc(33.33% - 10px); margin-bottom:20px; padding:10px; box-sizing:border-box;position:relative; height:25rem;">
<div action="" method="post" enctype="multipart/form-data">
@csrf
<div style="position:absolute; bottom:0; left:0; right:0; background-color:white; color:white !important; padding:10px;">
<h6 style="margin:0; display:flex; justify-content:center;color:black;">{{$user->price}}$</h6>
<h1 style="margin:0; font-size:18px; display:flex; justify-content:center;color:black;">{{$user->title}}</h1>
<p style="margin:0; font-size:14px; display:flex; justify-content:center;color:black;">{{$user->description}}</p>
</div>
<div style="display:flex; align-items:center; justify-content:space-between; margin-top:100%;">

<form action="{{ url('/productdelete', $product->id) }}" method="POST" class="btncr">
@csrf
<button type="submit" class="btn btn-warning sbmbtn">Delete</button>
</form>




</div>
</div>

</div>
@endforeach
</div>
</div>
</section>
